$primary-color: #0d37a3;
$primary-color-reverse: #fff;

$secondary-color: #5a0da3;
$secondary-color-reverse: #fff;

$success-color: #04995b;
$success-color-reverse: #fff;

$danger-color: #d11f1f;
$danger-color-reverse: #fff;

$warning-color: #e7c920;
$warning-color-reverse: #333;

$info-color: #2ac0d4;
$info-color-reverse: #333;
